<!DOCTYPE HTML>
{% extends "base.html" %}

<title>{%block title%} Total Confusion Fashion House - About Page {% endblock %}</title>

{% block content %}
    <div class="main">
        <div class="about">
            <p>
                Total Confusion Fashion House is a proudly South African boutique, focused
                exclusively on traditional African attire.
            </p>
            <p>
                While you may pick from our
                <span>
                    <a href="http://localhost:8080/products/">cataloque of ready to wear clothing</a>,
                </span>
                we also pride ourselves on offering a bespoke service, where we tailor-make
                <i>your</i> unique idea of that perfect dress, shirt, jacket or
                accessory. You do the envisioning, and we'll do the making.
            </p>
            <p>
                Woman, man or child, Total Confusion Fashion House allows you to express your pashion
                for exquisitely crafted, hand-made attire - attire that truly articulates
                the beauty of African culture.
            </p>
            <div class="linda">

            </div>
            <p>
                - Linda Sithole, Founder Total Confusion Fashion House
            </p>


        </div>
    </div>
{% endblock %}
