<!DOCTYPE HTML>
<html>
    <head>
        <title>Total Confusion Fashion House - Admin</title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/Total-Confusion.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div id="wrap">

            <a href="http://localhost:8080/admin/products/"><input type="button" id="manageProd" value="Manage products"></a>







        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src = "../static/Total-Confusion.js"></script>
    </body>
</html>
