<!DOCTYPE HTML>
{% extends "base.html" %}

    <title>{%block title%} Categories {% endblock %}</title>

{% block content %}

    <div class="container">
      <div class="category-box">
          <div id="select-cat">
              Select Category:
          </div>
          <ul>
              <li>
                  <a href="http://localhost:8080/categories/men/">
                      <input type="button" id="Men" value="Men">
                  </a>
              </li>
              <li>
                  <a href="http://localhost:8080/categories/women/">
                      <input type="button" id="Women" value="Women">
                  </a>
              </li>
              <li>
                  <a href="http://localhost:8080/categories/children/">
                      <input type="button" id="Children" value="Children">
                  </a>
              </li>
              <li>
                  <a href="http://localhost:8080/products/">
                      <input type="button" id="Men" value="All Products">
                  </a>
              </li>
          </ul>
      </div>
  </div>

{% endblock %}
