<!DOCTYPE HTML>
{% extends "base.html" %}

<title>{%block title%} Total Confusion Fashion House - Contact Page {% endblock %}</title>

{% block content %}
        <address class="contact_details">
            Email us at: <a href="mailto:totalconfusion@gmail.com">totalconfusion@gmail.com</a><br/>
            <br>
            Call us on: <a href="#">081 823 9812</a> <br/>
            <br>
            Visit us in person at: <br/>
            7 Something street<br/>
            Somewhere, East London<br/>
            8923<br/>
            Eastern Cape<br/>
            South Africa
        </address>

        <div id="contactMap">
        </div>




{% endblock %}
