<!DOCTYPE HTML>
<html>
  <head>
    <title>Submit product information</title>
    <link rel="stylesheet" href="/static/Total-Confusion.css">
  </head>
  <body>
      <div id="main">
          <form name="info" method="post" action="http://localhost:8080/api/products/">
            <div class="input">
                <input type="text" id="name" class="form_input" name="name" placeholder="Name"><br />
                <div id="name_error"></div>
            </div>

            <div class="input">
                <input type="text" id="price" class="form_input" name="price" placeholder="Price"><br />
                <div id="price_error"></div>
            </div>

            <div class="input">
                <input type="text" id="size" class="form_input" name="size" placeholder="Size"><br />
                <div id="size_error"></div>
            </div>


            <div class="input">
                <input type="text" id="image" class="form_input" name="image" placeholder="Image URL"><br />
                <div id="image_error"></div>
            </div>

            <div class="input">
              <select name="category" id="category">
                <option value="Default">Select Category</option>
                <option value="None">Uncategorised</option>
                <option value="Men">Men</option>
                <option value="Women">Women</option>
                <option value="Children">Children</option>
              </select>
              <div id="category_error"></div>
            </div>


            <a href="#">
                <input type="button" id="save_button" value="Save">
            </a>
          </form>
      </div>



    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src = "/static/info_form.js"></script>
  </body>
</html>
