<!DOCTYPE HTML>
{% extends "base.html" %}

    <title>{%block title%} Total Confusion Fashion House - Product {% endblock %}</title>

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-auto col-lg-4">
                <div class="individual_product">
                    <img src="{{ data.product.image }}" alt="" class="image">
                </div>
            </div>

        </div>

        <div id="edit_box">

            Name: {{ data.product.name }} <br />

            Price: R {{'%0.2f' % data.product.price|float}}  <br />
            Size: {{ data.product.size }} <br />
            Category: {{ data.product.category }} <br />

            <a href="/admin/edit/{{ data.product.key.id() }}/">
                <input type="button" id="edit" value="Edit">
            </a>

        </div>

    </div>
{% endblock %}
